p There are different ways of integrating Auth0 in your site. Below, some of them with a preview and a code snippet to copy paste.

if account.loggedIn && !embedded
  div 
    label Select one of your applications:
    select#client-chooser
      each client in account.clients
        option(value="#{client.clientID}") #{client.name}

div 
  label Select the widget mode:
  select#widget-chooser
    option(value="login") Login Widget - Modal
    option(value="embedded") Login Widget - Inside a DIV
    option(value="redirect") Login Link
    option(value="custom") JavaScript API


p This is how it will look on a browser...
.browser
  .browser-toolbar
    .browser-icons
      a(href="javascript:history.back()", target="widget-demo")
        i.icon-arrow-left
      a(href="javascript:history.forward()", target="widget-demo")
        i.icon-arrow-right
      a(href="javascript:document.getElementById('widget-demo').contentWindow.location.reload(true);")
        i.icon-refresh
    .browser-address
      i.icon-lock
  .browser-content(class="login-widget2")
    iframe#widget-demo(src='')

div#widget-snippet

p For more information about the login widget check the GitHub page 
  a(href="https://github.com/auth0/auth0-widget.js", target="_new") here
  | .

script
  $('#widget-chooser').change(function (e) {
    var method = $(this).val();
    var clientId = $('#client-chooser').val();
    $('#widget-demo').attr('src', '#{DOMAIN_URL_DOCS}/widget2-demos/' + method + (clientId !== 'YOUR_CLIENT_ID' ? '?a=' + clientId : ''));
    $('#widget-snippet').load('#{DOMAIN_URL_DOCS}/widget2-snippets/' + method + (clientId !== 'YOUR_CLIENT_ID' ? '?a=' + clientId : ''), function() {
      prettyPrint();
    });
  });

  $('#client-chooser').change(function (e) {
    var method = $('#widget-chooser').val();
    $('#widget-demo').attr('src', '#{DOMAIN_URL_DOCS}/widget2-demos/' + method + '?a=' + $(this).val());
    $('#widget-snippet').load('#{DOMAIN_URL_DOCS}/widget2-snippets/' + method + '?a=' + $(this).val(), function() {
      prettyPrint();
    });
  });

  $('#widget-chooser').val($('#widget-chooser option:first').attr('value'));
  $('#widget-chooser').change();