p There are different ways of integrating Auth0 in your site. Below, some of them with a preview and a code snippet to copy paste.

if account.loggedIn && account.clients && account.clients.length > 0 && !embedded
  div
    label Select one of your applications:
    select#client-chooser
      each client in account.clients
        option(value="#{client.clientID}") #{client.name}

div
  label Select how you want to trigger login:
  select#widget-chooser
    option(value="login") Login Widget - Modal
    option(value="embedded") Login Widget - Inside a DIV
    option(value="custom") Custom UI
    option(value="redirect") Plain Link


p This is how it will look on a browser...
.browser
  .browser-toolbar
    .browser-icons
      a(href="javascript:history.back()", target="widget-demo")
        i.icon-budicon-521
      a(href="javascript:history.forward()", target="widget-demo")
        i.icon-budicon-519
      a(href="javascript:document.getElementById('widget-demo').contentWindow.location.reload(true);")
        i.icon-budicon-436
    .browser-address
      i.icon-budicon-285
  .browser-content(class="login-widget2")
    iframe#widget-demo(src='')

div#widget-snippet

p Auth0 JavaScript libraries are Open Source:
  | #{" "}
  a(href="https://github.com/auth0/lock", target="_new") Auth0Lock
  | #{" & "}
  a(href="https://github.com/auth0/auth0.js", target="_new") Auth0.js


script
  function refresh (method, clientId) {
    $('#widget-demo').attr('src', '#{DOMAIN_URL_DOCS}/lock-demos/' + method + '?' + (clientId !== 'YOUR_CLIENT_ID' ? '&a=' + clientId : '') + '&callbackOnHash=#{callbackOnHashMode}' + '&backend=#{backend}');

    $('#widget-snippet').load('#{DOMAIN_URL_DOCS}/lock-snippets/' + method + '?' + (clientId !== 'YOUR_CLIENT_ID' ? '&a=' + clientId : '') + '&callbackOnHash=#{callbackOnHashMode}' + '&backend=#{backend}', function() {
      prettyPrint();
    });
  }

  $('#widget-chooser').change(function (e) {
    var method = $(this).val();
    var clientId = $('#client-chooser').length === 0 ? '#{account.clientId}' : ($('#client-chooser').val() || '');
    refresh(method, clientId);
  });

  $('#client-chooser').change(function (e) {
    var method = $('#widget-chooser').val();
    var clientId = $(this).val();
    refresh(method, clientId);
  });

  $('#widget-chooser').val($('#widget-chooser option:first').attr('value'));
  $('#widget-chooser').change();
