html
  head
  body
    button(onclick='widget.show()') Login
    script(src=widget_url)
    script
      var widget = new Auth0Widget({
        domain:       '!{namespace}',
        clientID:     '!{clientID}',
        callbackURL:  '!{callback}',
        assetsUrl:    '!{auth0_sdk_assets}'
      });
      widget.show();