div#api-explorer

script(src="https://cdn.auth0.com/api-explorer/api-explorer.js", type="text/javascript")
link(rel="stylesheet", href="https://cdn.auth0.com/api-explorer/api-explorer.css", type="text/css")

script
    require(['api-explorer'], function () {
      var apiExplorer = require('api-explorer')
      apiExplorer({
        el:             $('#api-explorer'),
        isAuth:         #{isAuth},
        tenantDomain:   '#{tenantDomain}',
        clientId:       '#{globalClientID}',
        clientSecret:   '#{globalClientSecret}',
        docsDomain:     '#{docsDomain}',
        user:           !{JSON.stringify(user)},
        readOnly:       #{readOnly},
        anchors:        #{anchors}
      });
    });

