p There are different ways of integrating Auth0 in your site. Below, some of them with a preview and a code snippet to copy paste.

if account.loggedIn && !embedded
  div 
    label Select one of your applications:
    select#client-chooser
      each client in account.clients
        option(value="#{client.clientID}") #{client.name}

div 
  label Select the widget mode:
  select#widget-chooser
    option(value="login") Login Widget - Modal
    option(value="embedded") Login Widget - Inside a DIV
    option(value="redirect") Login Link
    option(value="logincss") Login Widget - Customized with CSS  [paid plans only]
    option(value="custom") JavaSricpt API [paid plans only]


p This is how it will look on a browser...
.browser
  .browser-toolbar
    .browser-icons
      a(href="javascript:history.back()", target="widget-demo")
        i.icon-arrow-left
      a(href="javascript:history.forward()", target="widget-demo")
        i.icon-arrow-right
      a(href="javascript:document.getElementById('widget-demo').contentWindow.location.reload(true);")
        i.icon-refresh
    .browser-address
      i.icon-lock
  .browser-content
    iframe#widget-demo(src='')

mixin fiddletize(snippet)
  div
    | Want to play around with this snippet?   
    form(action='http://jsfiddle.net/api/post/library/pure/', method='post', target="_blank", style="display: inline;")
      input(type="hidden", name="html", value=snippet)
      input.edit-fiddle(type="submit", value="Edit in JsFiddle")

div#widget-login.widget-tut(style="display:none")
  .snippet-header Copy this HTML/JS code on your website...
  pre
    code #{include_snippet('login')}
  mixin fiddletize(include_snippet('login'))

div#widget-embedded.widget-tut(style="display:none")
  .snippet-header Copy this HTML/JS code on your website...
  pre
    code #{include_snippet('embedded')}
  mixin fiddletize(include_snippet('embedded'))

div#widget-redirect.widget-tut(style="display:none")

div#widget-link.widget-tut(style="display:none")
  .snippet-header Copy this HTML/JS code on your website...
  pre
    code #{include_snippet('link')}
  mixin fiddletize(include_snippet('link'))

div#widget-custom.widget-tut(style="display:none")
  .snippet-header Copy this HTML/JS code on your website...
  pre
    code #{include_snippet('custom')}
  mixin fiddletize(include_snippet('custom'))
div#widget-logincss.widget-tut(style="display:none")
  .snippet-header Copy this HTML/JS code on your website...
  pre
    code #{include_snippet('logincss')}
  mixin fiddletize(include_snippet('logincss'))


p For more information about the login widget check the documentation 
  a(href="/login-widget") here
  | .

blockquote
  p Building a JavaScript / Single Page Application? Consider adding 
    code response_type=token
    |  parameter to the script url or the login link. This is a hint for Auth0 to send the response back as a redirect to your site passing the tokens after the hash sign 
    code https://yoursite#access_token=...&id_token=...

script
  $('#widget-chooser').change(function (e) {
    var method = $(this).val();
    $('.widget-tut').hide();
    $('#widget-'+method).show();
    $('#widget-demo').attr('src', '#{DOMAIN_URL_DOCS}/widget-demos/' + method + ('#{account.clientId}' !== 'YOUR_CLIENT_ID' ? '?a=#{account.clientId}' : ''));
  });

  $('#client-chooser').change(function (e) {
    $('#widget-demo').attr('src', '#{DOMAIN_URL_DOCS}/widget-demos/' + $('#widget-chooser').val() + '?a=' + $(this).val());
  });

  $('#widget-chooser').val($('#widget-chooser option:first').attr('value'));
  $('#widget-chooser').change();