doctype 5
html(lang="en")
  head
    title= title + ' - ' + site.title
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="author", content="")

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset="utf-8")
    meta(name="google-site-verification",content="4aSwkVvotRegQ6g32k-21r38Fls9sO8VT5LytKdin3o")

    link(rel="shortcut icon", href="https://auth0.com/auth0-styleguide/img/favicon.png")

    link(href='/vendor/bower_components/auth0-styleguide/css/index.css', rel='stylesheet')
    link(href='/css/docs.css', rel='stylesheet')

    script(type='text/javascript', src='//use.typekit.net/iws6ohy.js')
    script.
      try{Typekit.load();}catch(e){}

    <!--[if lt IE 9]>
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

    script(src="/js/shims/window.location.origin.js")

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src="#{widget_url}")

    script.

      window.widget = new Auth0Widget({
        domain:         '#{env.AUTH0_DOMAIN}',
        clientID:       '#{env.AUTH0_CLIENT_ID}',
        callbackURL:    '#{uiURLLoginCallback}',
        dict: {
          signup: {
            footerText: 'By signing up, you agree to our <a href="/terms" target="_new">terms of service</a> and <a href="/privacy" target="_new">privacy policy</a>'
          }
        },
        showIcon: true,
        icon: '//auth0.com/boot/badge.png'
      });

      window.login = function () {
        widget
          .once('closed', function () {
            widget.signin({});
          })._hideSignIn();
      };

      window.signup = function() {
        widget._hideSignIn();

        ga('send', 'event', 'signup', 'open', 'docs');

        widget.once('closed', function () {
          $('#a0-widget').remove();
          widget
            .once('closed', function () {
              show_widget_demo();
            }).signup({
              enableReturnUserExperience: false,
              enableADRealmDiscovery: false
            });
        });
      }

      window.show_widget_demo = function() {
        widget.signin({
          container: 'root',
          chrome: true,
          _avoidInitialFocus: true,
          enableReturnUserExperience: false,
          enableADRealmDiscovery: false
        });
      }


  body.page-docs
    header.site-header
      nav.navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            h1.navbar-brand
              a(href='https://auth0.com/')
                img(src="https://auth0.com/auth0-styleguide/img/logo.png")
                span Auth0

          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              li.li-why
                a(href="http://auth0.com/why-auth0") Why Auth0
              li.li-how
                a(href="http://auth0.com/how-it-works") How It Works
              li.li-pricing
                a(href="http://auth0.com/pricing") Pricing





            ul.nav.navbar-nav.navbar-right

              li.li-docs
                a(href="/") Documentation

              li.dropdown
                span(role='button', data-toggle='dropdown', data-target='#').btn-dro More
                  i.icon-budicon-460
                ul.dropdown-menu(role='menu', aria-labelledby='dLabel').animated
                  li
                    a(href="https://auth0.com/opensource") Open Source
                  li.divider
                  li
                    a(href="https://auth0.com/about") About
                  li
                    a(href="https://auth0.com/customers") Customers
                  li
                    a(href="https://auth0.com/blog") Blog

                if (locals.user)
                  li
                    a.signin-button(href="#{uiURL}").btn.btn-sm.signup Open Dashboard
                else
                  li
                    a.signin-button(href="javascript:login()").login Login

                  li
                    a.signin-button(href="javascript:signup()").btn.btn-sm.signup Sign Up

    .container
      nav.navbar.navbar-default.sub-navbar
        .container-fluid
          if (locals.user && user.tenants && user.tenants.length > 1)
            .dropdown
              button#account-chooser.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                | #{user.tenant}
                span.caret
              ul.dropdown-menu(role='menu', aria-labelledby='account-chooser')
                each tenant in user.tenants
                  if (user.tenant !== tenant)
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='/switch?tenant=#{tenant}') #{tenant}
          else
            .navbar-header
              small.navbar-text Documentation: API Reference & Help topics


          form#search.navbar-form.navbar-right(role="search", action="/search", autocomplete="off")
            .form-group
              .input-group
                input#search-input.form-control(type="text", placeholder="Search for terms", name="stq")
                span.input-group-btn
                  button.btn.btn-default.btn-small(type="submit", value="")
                    i.icon.icon-budicon-489

          ul.external-links
            //- li
            //-   a(href="http://twitter.com/authzero", target="_blank") Twitter

            //- li
            //-   a(href="http://github.com/auth0", target="_blank") Github

            //- li
            //-   a(href="http://chat.auth0.com", target="_blank") Chat With Us

            //- li
            //-   a(href="mailto:support@auth0.com", target="_blank") Contact Us

    .container
      .row
        .col-xs-3
          nav.sidebar-docs
            ul
              -var navigation = site.menus.navigation
              - for (var k1 in navigation)
                - var l1 = navigation[k1]
                - if (!l1.disabled)
                  li(class="box-" + l1.icon.substr(5)).box
                    - if (l1.icon)
                        strong
                          //- i(class='icon #{l1.icon}')
                          | #{l1.title}
                    - else
                        strong= l1.title
                    ul
                      - for (var k2 in l1.items)
                        - var l2 = l1.items[k2]
                        - if (l2.url == url)
                            li(class=l2.url.substr(1)).selected
                              a(href=furl(l2.url))
                                i
                                span= l2.title
                        - else
                            li(class=l2.url.substr(1))
                              a(href=furl(l2.url))
                                i
                                span= l2.title

        .col-xs-9

          .srow
            ul.breadcrumb
              li
                a(href="/") Documentation
              li &raquo;
              li=title

          section.content



            block content


          .fixit
              a(href='#', target='_blank') Found a typo?  Fix it

    footer
        ul
          -var footer = site.menus.footer
          - for (var k1 in footer)
            - var l1 = footer[k1]
            li
              a(href=furl(l1.url))= l1.title

    .container

      footer.site-footer

        .row
          .col-md-11
            nav
              ul
                li
                  a(href="https://auth0.com/about") About
                li
                  a(href="https://auth0.com/availability-trust") Availability & Trust

                li
                  a(href="https://auth0.com/terms") Terms Of Service
                li
                  a(href="https://auth0.com/privacy") Privacy
                li
                  a(href="http://chat.auth0.com") Support

                li
                  a(href="/") Documentation

                li
                  a(href="mailto:support@auth0.com") Contact Us


          .left.col-md-1
            a(href="/") Auth0 &copy;



  //- Start search feature scripts
  script(type="text/javascript", src="/js/jquery.ba-hashchange.min.js")
  script(type="text/javascript", src="/js/jquery.swiftype.search.js")
  script(src='/js/search.js')
  //- End search feature scripts

  script(src='/js/prettify.js')
  script(type='text/javascript')

    !function ($) {
      $(function(){
      $('pre').each(function (i, e) {
        // Ignore 'pre' elements inside .api-explorer elements
        if ($(e).closest('.api-explorer').length === 0) {
          $(e).addClass('prettyprint');
        }
      });
      window.prettyPrint && prettyPrint();
      })
    }(window.jQuery);

  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37952868-1', 'auth0.com');
    ga('send', 'pageview');

  //- Begin Inspectlet Embed Code
  script#inspectletjs(type="text/javascript")
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1881287289]);
    (function() {
      function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
      if (window.attachEvent){
        window.attachEvent('onload', __ldinsp);
      }else{
        window.addEventListener('load', __ldinsp, false);
      }
    })();

  script
    var sectionIndex = 1;
    $('h2,h3,h4').each(function(){
      $(this)
        .attr('id', sectionIndex)
        .prepend('<a class="anchor" href="#' + sectionIndex + '"><i class="icon icon-budicon-345"></i></a>');
      sectionIndex++;
    });

    if(location.hash) {
      location.hash = location.hash;
    }

    if (~['/', '/api', '/auth-api'].indexOf(window.location.pathname)) $('.fixit').hide();
    $('.fixit a').attr('href', 'https://github.com/auth0/docs/tree/master/docs' + window.location.pathname + '.md');

  if (locals.user && user.tenants && user.tenants.length > 1)
    script
      var getCookie = function (name) {
        var match = document.cookie.match(RegExp('(?:^|;\\s*)' + name + '=([^;]*)'));
        return match ? match[1] : null;
      };

      var setCookie = function (name, value, days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = name + '=' + value + '; expires=' + date.toGMTString() + '; path=/; domain=#{env.DOMAIN_URL_SERVER.replace('\u007Btenant\u007D.', '')}';
      }

      setCookie('current_tenant', '#{user.tenant}', 7);

      setInterval(function () {
        var current_tenant = getCookie('current_tenant');
        if (current_tenant && current_tenant !== '#{user.tenant}') {
          window.location.reload(true);
        }
      }, 3000);
